a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table, table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img {
    vertical-align: top;
}

embed {
    vertical-align: top;
}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}

mark, rp, rt, ruby, summary, time {
    display: inline;
}

input, textarea {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

iframe {
    border: 0;
    margin: 0;
    padding: 0;
}

input, textarea, select {
    margin: 0;
    padding: 0px;
}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/*Add your font at here*/

/* -------------------------------------------- */
/* ------------------Style--------------------- */
:root {
    --radius-small: 8px;
    --radius-medium: 14px;
    --radius-large: 20px;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #999999 url("../images/pattern29.jpg");
    color: #ffffff;
    font: 14px/25px Arial, Helvetica, sans-serif;
}

body.is-clipped {
    overflow: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
}

    a:hover {
        color: #800000;
        ;
        text-decoration: none;
    }

    a.button {
        cursor: pointer;
        color: #ffffff;
        line-height: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        background: #3F3F3F;
        border: 1px solid #ffffff;
        border-radius: var(--radius-small);
    }

    a.button {
        display: inline-block;
        text-decoration: none;
        padding: 6px 12px 6px 12px;
    }


.clear {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {
    margin-bottom: 15px;
    margin-top: 50px;
}

    header .wrap-header {
        height: 150px;
        background: #141414;
        border-radius: var(--radius-large);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    header #logo {
        position: static;
        width: auto;
        text-align: center;
    }

    header #logo img {
        max-width: 90%;
        height: auto;
    }

/* -------------------------------------------- */
/* ------------------Navigation---------------- */
nav {
    margin: 15px 0px;
}

    nav .wrap-nav {
        height: 80px;
        background: #800000;
        border-radius: var(--radius-large);
    }

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .menu ul li {
        position: relative;
        float: left;
        padding: 6px 5px 0px 5px;
        margin: 17px;
    }

        .menu ul li:hover {
            background: #600000;
        }

        .menu ul li a {
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
            display: block;
            padding: 6px 10px;
            margin-bottom: 5px;
            z-index: 6;
            position: relative;
            text-transform: uppercase;
        }


.menu .current {
    background: #600000;
    border-radius: var(--radius-small);
}

.minimenu {
    display: none;
}

.minimenu {
    position: relative;
    margin: 0px;
    background: #800000;
    border: 1px solid #CCC;
    border-radius: var(--radius-small);
}

    .minimenu div {
        overflow: hidden;
        position: relative;
        font: 18px/40px 'PT Sans Narrow';
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .minimenu select {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        cursor: pointer;
    }

/* -------------------------------------------- */
/* ------------------Featured---------------- */

.featured {
    margin: 15px 0px;
}

    .featured .wrap-featured {
        background: #141414;
        border-radius: var(--radius-large);
    }

        .featured .wrap-featured .slider {
            padding: 20px;
            border-radius: var(--radius-medium);
        }

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {
    margin: 15px 0px;
}

    #content .wrap-content {
        background: #141414;
        border-radius: var(--radius-large);
    }

.block01 {
    padding: 10px;
}

    .block01 .box {
        background: #800000;
        padding: 20px 10px;
        border-radius: var(--radius-medium);
    }

    .block01 h2 {
        font-size: 23px;
        line-height: 30px;
        font-weight: normal;
    }

    .block01 p {
        font-size: 16px;
    }

    .block01 .more {
        text-align: right;
    }


.block02 {
    margin: 10px;
    color: #959595;
}

    .block02 article {
        clear: both;
        margin: 10px 0px;
        background: #040404;
        border-radius: var(--radius-medium);
    }

        .block02 article h2 {
            font-size: 20px;
            line-height: 25px;
            font-weight: normal;
        }

        .block02 article .info {
            font-style: italic;
            background: #131313;
            padding: 5px 10px;
        }

        .block02 article img {
            margin: 5px;
            border-radius: var(--radius-small);
        }

    .block02 .box {
        margin-bottom: 20px;
    }

    .block02 .heading {
        padding: 5px 0px;
        border-bottom: 3px solid #800000;
        border-radius: var(--radius-small) var(--radius-small) 0 0;
    }

        .block02 .heading h2 {
            font-size: 24px;
            font-weight: normal;
            display: inline;
            color: #ffffff;
        }

    .block02 .content {
        margin: 15px 0px;
        padding: 15px;
        background: #040404;
        border-radius: var(--radius-medium);
    }

        .block02 .content .list {
            background: #1E1E1E;
            padding: 10px;
            border-radius: var(--radius-small);
        }

        .block02 .content ul {
            font-size: 14px;
            list-style-type: circle;
            margin-left: 20px;
        }

            .block02 .content ul li {
                padding: 5px;
            }

.block03 {
    margin: 10px;
    color: #959595;
}

    .block03 article {
        clear: both;
        margin: 20px 0px;
        background: #040404;
        padding: 20px;
        border-radius: var(--radius-medium);
            height: 100%;
    }

        .block03 article h2 {
            font-size: 25px;
            line-height: 30px;
            font-weight: normal;
        }

        .block03 article .info {
            font-style: italic;
            padding: 10px 0px;
        }

        .block03 article img {
            margin-bottom: 10px;
            width: 100%;
            border-radius: var(--radius-small);
        }

    .block03 .box {
        margin-bottom: 20px;
    }

    .block03 .heading {
        padding: 5px 0px;
        border-bottom: 3px solid #800000;
        border-radius: var(--radius-small) var(--radius-small) 0 0;
    }

        .block03 .heading h2 {
            font-size: 24px;
            font-weight: normal;
            display: inline;
            color: #ffffff;
        }

    .block03 .content {
        margin: 15px 0px;
        padding: 15px;
        background: #040404;
        border-radius: var(--radius-medium);
    }

        .block03 .content .list {
            background: #1E1E1E;
            padding: 10px;
            border-radius: var(--radius-small);
        }

        .block03 .content ul {
            font-size: 14px;
            list-style-type: circle;
            margin-left: 20px;
        }

            .block03 .content ul li {
                padding: 5px;
            }

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {
    margin-top: 15px;
}

.wrap-footer {
    background: #141414;
    border-top: 5px solid #800000;
    border-radius: var(--radius-large) var(--radius-large) 0 0;
}

.block09 {
    padding: 10px;
}

    .block09 .box {
        margin-bottom: 20px;
        color: #959595;
        background: transparent;
        border-radius: var(--radius-medium);
    }

    .block09 .heading {
        padding: 5px 0px;
    }

        .block09 .heading h2 {
            font-size: 18px;
            font-weight: normal;
            display: inline;
            color: #ffffff;
            text-transform: uppercase;
        }

    .block09 .content {
        margin: 15px 0px;
    }

        .block09 .content ul {
            font-size: 14px;
        }

            .block09 .content ul li {
                padding: 5px 0;
                border-bottom: 1px dotted #333333;
            }

        .block09 .content .tag a {
            padding: 10px;
            background: #800000;
            margin: 0px 5px 5px 0px;
            float: left;
                border-radius: var(--radius-small);
        }

            .block09 .content .tag a:hover {
                color: #ffffff;
                background: #600000;
            }

        .block09 .content p {
            margin-bottom: 10px;
        }

.copyright {
    text-align: center;
    background: #040404;
    padding: 10px 0px;
}

    .copyright a {
        text-decoration: underline;
    }


/* -------------------------------------------- */
/* ------------------Components-------------------- */
.photos:after {
        content: "\0020";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

.product-card__trigger {
    display: block;
    height: 100%;
    padding: 10px;
    background: #1e1e1e;
    border-radius: var(--radius-medium);
    text-align: center;
    transition: background 0.3s ease;
}

.product-card__trigger:hover,
.product-card__trigger:focus {
    background: #2a2a2a;
}

.product-card__trigger img {
    margin-bottom: 15px;
}

.product-card__trigger h2 {
    color: #ffffff;
}

.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-overlay[hidden] {
    display: none;
}

.gallery-overlay.is-visible {
    opacity: 1;
}

.gallery-overlay__backdrop {
    background: #141414;
    border-radius: var(--radius-large);
    padding: 20px;
    width: 100%;
    max-width: 960px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.45);
}

.gallery-overlay__close {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 32px;
    line-height: 1;
    cursor: pointer;
    float: right;
}

.gallery-overlay__stage {
    text-align: center;
    margin-top: 10px;
}

.gallery-overlay__image {
    max-width: 100%;
    border-radius: var(--radius-medium);
}

.gallery-overlay__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 10px;
}

.gallery-overlay__nav {
    background: #800000;
    border: none;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: var(--radius-small);
    cursor: pointer;
}

.gallery-overlay__nav:hover,
.gallery-overlay__nav:focus {
    background: #600000;
}

.gallery-overlay__title {
    margin: 0;
    text-align: center;
    flex: 1;
}

.gallery-overlay__thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-overlay__thumb {
    background: none;
    border: 2px solid transparent;
    padding: 0;
    border-radius: var(--radius-small);
    cursor: pointer;
}

.gallery-overlay__thumb img {
    display: block;
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: var(--radius-small);
}

.gallery-overlay__thumb.is-active {
    border-color: #800000;
}

.latest-thumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
}

.latest-thumbs a {
    display: block;
    width: 82px;
    height: 62px;
    border: 1px solid #333333;
    border-radius: var(--radius-small);
    overflow: hidden;
}

.latest-thumbs img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-video {
    margin: 5px;
    border: 1px solid #333333;
    border-radius: var(--radius-medium);
    overflow: hidden;
    background: #000000;
}

.latest-video video {
    display: block;
    width: 100%;
    height: auto;
}

    .photos a {
        display: block;
        float: left;
        margin: 0px 4px 10px 4px;
        position: relative;
    }

        .photos a img {
            display: block;
            border: 1px solid #CCC;
            border-radius: var(--radius-medium);
        }

#pagi {
    margin: 50px auto;
    padding: 20px 0px;
    list-style: none;
    width: 250px;
}

    #pagi li {
        float: left;
        margin-right: 10px;
    }

        #pagi li a {
            display: block;
            text-decoration: none;
            color: #717171;
            font: bold 16px Arial, sans-serif;
            padding: 7px;
            background: #ffffff;
        }

            #pagi li a.current, #pagi li a:hover {
                color: #ffffff;
                background: #800000;
            }

.comment {
    font-weight: bold;
    margin: 50px 0px;
    width: auto;
}

    .comment div {
        margin-bottom: 20px;
        vertical-align: middle;
    }

    .comment input {
        border: 2px solid #999999;
        padding: 8px 10px;
        width: 250px;
        border-radius: var(--radius-small);
    }

    .comment textarea {
        border: 2px solid #999999;
        padding: 8px 10px;
        width: 95%;
        border-radius: var(--radius-medium);
    }

    .comment input[type="submit"] {
        cursor: pointer;
        width: 100px;
        float: right;
        background: -webkit-linear-gradient(top, #efefef, #ddd);
        background: -moz-linear-gradient(top, #efefef, #ddd);
        background: -ms-linear-gradient(top, #efefef, #ddd);
        background: -o-linear-gradient(top, #efefef, #ddd);
        background: linear-gradient(top, #efefef, #ddd);
        color: #333;
        text-shadow: 0px 1px 1px rgba(255,255,255,1);
        border: 2px solid #999999;
        border-radius: var(--radius-small);
    }

        .comment input[type="submit"]:hover {
            background: -webkit-linear-gradient(top, #eee, #ccc);
            background: -moz-linear-gradient(top, #eee, #ccc);
            background: -ms-linear-gradient(top, #eee, #ccc);
            background: -o-linear-gradient(top, #eee, #ccc);
            background: linear-gradient(top, #eee, #ccc);
            border: 2px solid #bbb;
        }

        .comment input[type="submit"]:active {
            background: -webkit-linear-gradient(top, #ddd, #aaa);
            background: -moz-linear-gradient(top, #ddd, #aaa);
            background: -ms-linear-gradient(top, #ddd, #aaa);
            background: -o-linear-gradient(top, #ddd, #aaa);
            background: linear-gradient(top, #ddd, #aaa);
            border: 2px solid #999;
        }
